@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300&display=swap');

body {
  font-family: Roboto, 'Noto Sans JP', 'Noto Sans JP', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}
* {
  box-sizing: border-box;
}
.k-shadow {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 3px -2px rgba(0, 0, 0, 0.14),
  0 1px 8px 0 rgba(0, 0, 0, 0.12);
}
